{% include 'head.html' %}
<body>
  {% include 'nav.html' %}
  <div class="container">
    <div class="row" style="height: 30px;"> </div>
    <div class="row">
      <div class="col-md-12">
        <h1>About us</h1>
        <p>This is a personal practice project, featuring a chatbot created using OpenAI's GPT-3 model. If you're interested, feel free to ask questions, request additional features you're interested in, or join us in improving her together.</p>
        <p><a href="https://github.com/jeckun/ChatGPT-bot-in-python">GitHub: ChatGPT-bot-in-python</a></p>
        <h3>Update log</h3>
        <p>2023-11-30 Published and The issue of invalid storage of OpenAI API keys has been resolved.</p>
        <p>2023-12-03 Resolved the issue of exceeding the maximum 4097 tokens in the context, ensuring smoother conversations.</p>
        <p>2023-12-07 Implemented ChatGPT API Proxy, now deployable in China. Upgraded to OpenAI 1.3.7.</p>
        <P>2023-12-10 implemented streaming conversations to allow users to see ChatGPT reply messages more quickly, enhancing the user experience. To achieve this streaming dialogue, Flask, which does not support asynchronous communication, was replaced with FastAPI.</P>
      </div>
    </div>
  </div>
</body>