{% include 'head.html' %}
<body>
  {% include 'nav.html' %}
  <div class="container">
    <div class="row" style="height: 100px;"> </div>
    <div class="row">
      <div class="col-md-12">
        <h1>About us</h1>
        <p>This is a chatbot that uses OpenAI's GPT-3 language model to generate responses.</p>
        <hr>
        <h3>Update log</h3>
        <p>2023-11-30 Published and The issue of invalid storage of OpenAI API keys has been resolved.</p>
        <p>2023-12-03 Resolved the issue of exceeding the maximum 4097 tokens in the context, ensuring smoother conversations.</p>
      </div>
    </div>
  </div>
</body>