
<div class="chat-list">
    <!-- 新的对话 -->
    <div class="new-chat card chat-new-bg m-1 px-3 py-2 border border-secondary text-center">
      <a href="#" >
          <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" height="1.2em" width="1.2em" xmlns="http://www.w3.org/2000/svg"><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg>
          &nbsp New Chat
      </a>
    </div>
    <!-- 消息列表 -->
    <div class="message-list px-1 " id="messagelist" style="height: calc(100vh - 169px); overflow-y: scroll; -ms-overflow-style: none; scrollbar-width: none;">
      <div class="list-group">
        <!-- 最近对话 -->
        <button type="button" class="list-group-item list-group-item-action px-1">
            <div class="row mx-1">
              <div class="col-9 px-0 test-left">
                  <a href="#">
                      Chat 1
                  </a>
              </div>
              <div class="col-3 px-0 text-end">
                  <a href="#">
                      <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" class="h-4 w-4" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="M12 20h9"></path><path d="M16.5 3.5a2.121 2.121 0 0 1 3 3L7 19l-4 1 1-4L16.5 3.5z"></path></svg>
                  </a>
                  <a href="#">
                      <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" class="h-4 w-4" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path><line x1="10" y1="11" x2="10" y2="17"></line><line x1="14" y1="11" x2="14" y2="17"></line></svg>
                  </a>
              </div>
            </div>
        </button>
        <!-- 其他对话 -->
        <button type="button" class="list-group-item list-group-item-action px-1">
          <div class="row mx-1">
            <div class="col-9 px-0 test-left">
                <a href="#">
                    Chat 1
                </a>
            </div>
            <div class="col-3 px-0 text-end">
                <a href="#">
                    <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" class="h-4 w-4" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="M12 20h9"></path><path d="M16.5 3.5a2.121 2.121 0 0 1 3 3L7 19l-4 1 1-4L16.5 3.5z"></path></svg>
                </a>
                <a href="#">
                    <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" class="h-4 w-4" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path><line x1="10" y1="11" x2="10" y2="17"></line><line x1="14" y1="11" x2="14" y2="17"></line></svg>
                </a>
            </div>
          </div>
        </button>
      </div>
    </div>
  </div>