{% include 'head.html' %}
<body>
  {% include 'nav.html' %}
    <div class="container mt-3">
      <div style="text-align: center"><p>OpenAI Model Engine: gpt-3.5-turbo</p></div>
      <div class="row mt-3">
          <!-- 消息框 -->
          <div class="col-md-12">
              <div class="card">
                  <div class="card-body" id="chatHistory" style="overflow-y: auto;">
                      <!-- Chat history will be displayed here -->
                  </div>
              </div>
          </div>
        <!-- 输入框 -->
        <div class="row col-md-12 mt-3 pr-0">
            <div class="col-md-8">
                <div class="form-group">
                    <input type="text" class="form-control" id="user_input" placeholder="Type your message...">
                </div>
            </div>
            <div class="col-md-2 ">
                <button class="btn btn-primary btn-block" id="user_input_but" onclick="sendUserMessage()"> Send </button>
            </div>
            <div class="col-md-2">
                <button class="btn btn-danger btn-block" id="user_clear_but" onclick="clearChat()"> Clear </button>
            </div>
        </div>
      </div>
      <!-- 状态栏 -->
      <div id="status-bar">Please enter your question.</div>
  </div>
  
  <!-- 使用 WebSocket 实现流式聊天消息返回 -->
  <script src="/static/js/ws.js"></script>

  <!-- 前端处理用户聊天交互界面 -->
  <script src="/static/js/chat.js"></script>

  <!-- 前端设置 API key. -->
  <script src="/static/js/key.js"></script>

  {% include 'foot.html' %}
</body>
