<nav class="shadow navbar bg-body-tertiary p-0" style="height: 55px;">
  <div class="container-fluid" >
      <a class="navbar-brand">
          <img src="https://pub-ea398b99a11f43da9bf5018ccba88f05.r2.dev/favicon.svg" alt="Logo" height="30" style="margin-right: 5px;">
          ChatBox
      </a>
    <div class="d-flex" role="search">
      <ul class="nav justify-content-end">
          <li class="nav-item">
            <a class="nav-link " aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " aria-current="page" id="settingItem" href="#">Setting</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle " data-bs-toggle="dropdown" href="#">Model</a>
            <ul class="dropdown-menu dropdown-menu-end">
              <li><a class="dropdown-item" href="#">gpt-3.5-turbo</a></li>
              <li><a class="dropdown-item" href="#">gpt-3.5-turbo-16k</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">gpt-4.0</a></li>
            </ul>
          </li>
          <li class="nav-item ">
            <div class="p-0 mt-1">
              <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
              </svg>
            </div>
          </li>
        </ul>
    </div>
  </div>
</nav>


<!-- 创建 OpenAI API Key 设置模态框 -->
<div class="modal" id="apiKeyModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title-container">
          <h5 class="modal-title">Enter Your OpenAI API Key</h5>
        </div>
        <div class="modal-close-container">
          <button type="button" class="close" id="closeBtn" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
      <div class="modal-body">
        <div class="input-group">          
          <div class="input-group">
            <input type="text" id="apiproxyInput" style="height: 100%;" placeholder="Enter your ChatGPT Proxy Url..." class="form-control" aria-label="Input group example" aria-describedby="basic-addon1"> 
            <span class="input-group-text" id="basic-addon1">
              <a class="nav-link"  href="#" style="display: flex; align-items: center;" id="showOpenAiApiProxy">
                <img class="see" src="https://pub-ea398b99a11f43da9bf5018ccba88f05.r2.dev/eye.svg" onclick="toggleProxyInputVisibility()">
              </a>
            </span> 
          </div>
          <div class="input-group">
            <input type="text" id="apiKeyInput" style="height: 100%;" placeholder="Enter your API Key..." class="form-control" aria-label="Input group example" aria-describedby="basic-addon2">
            <span class="input-group-text" id="basic-addon2">
              <a class="nav-link"  href="#" style="display: flex; align-items: center;" id="showOpenAiApiKey">
                <img class="see" src="https://pub-ea398b99a11f43da9bf5018ccba88f05.r2.dev/eye.svg" onclick="toggleKeyInputVisibility()">
              </a>
            </span>
          </div>
        </div>
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-primary" id="saveApiKeyBtn">Save</button>
        <button type="button" class="btn btn-secondary" id="cancelBtn" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>